

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.secoundery_bg{
    background-color: #FFF8F3;;
}
.text_primary{
    color: #FD6E0A;
}
.dark_2{
    color: #474747;
}
.btn_primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}

/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}
.nav_title{
    font-weight: 800;
    font-size: 45px;
    margin-left: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
/* header ... */

.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    
    
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner_content{
    max-width: 580px;
    /* margin-bottom: 150px; */
}
.banner_btn{
    display: flex;
}
.contact_btn{
    margin-left: 30px;
    background-color: #FFF8F3;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
}
.banner_greetings{
    font-size: 35px;
    font-weight: 500px;
    margin-bottom: 50px;
    margin-top: 80px;
}
.banner_title{
    width: 400px;
    font-size: 40px;
    font-weight: 800;
    /* font-weight: 700px;
    font-size: 85px;
    line-height: 110px;
    margin-bottom: 10px;
    text-align: left; */
}
.banner_description{
    font-size: 18px;
    color: #757575;
    margin-bottom: none;
    
}
.banner_profile_pic{
    width: 580px;

}

/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 30px;
    margin-bottom: 130px;
}
/* about section */
.about{
    border-radius: 10px;
    padding: 100px 120px;
    text-align: center;
    width: 650px;
    margin: 0 auto;
    margin-top: 30px;
}
.section_title{
    font-size: 35px;
    font-weight: bold;
   

}
.about_items{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.text_center{
    text-align: center;
}
.items_title{
    font-size: 20px;
    color: #757575;
}
.items_description{
    font-size: 20px;
    font-weight: bold;
}

/* skill section style */
.skills_section{
    display: flex;
    gap: 24px;
    margin-bottom: 40px;

}
.skills{
    margin-top: 120px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}
.skill_title{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}
.skill_description{
    font-size: 16px;
    color: #757575;
}

/* resume section style */

.section-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 80px;
}

.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 5px;
}

.experience-description{
    color: #757575;
    font-size: 16px;
}
.resume hr{
    margin: 30px 5px;
    color: #D1D1D1;
}
.resume_download_cv{
    margin-top: 50px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 0px;
}






/* footer_section_ start here*/
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer_column{
    width: 50%;
}

footer input[type="text"], footer input[type=email], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding:10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
}
.footer_column .img_icon{
   margin-top: 120px;
   margin-left: 24px;  
}
/* footer_section_end*/

/* responsive_media_quary */

/* mobile_screen_responsive_style_start_here */
@media screen and (max-width: 576px) {
    .skills_section,
    .resume-container,
    .banner,
    nav,
    nav > ul,
    footer,
    .about_items{
        flex-direction: column;
    }
    .about{
        padding:20px;
        width: 100%;
    }
    .banner{
        margin: 20px;
    }
    .banner_profile_pic{
        width: 100%;
    }

    .header{
        background-image: none;
    }
    nav >  ul{
        gap: 20px;
    }
    .btn_primary{
        padding: 15px;
    }
    footer{
        padding: 20px;
    }
    .footer_column{
        width: 100%;
    }

    footer input[type="text"],
    footer input[type=email],
    footer textarea{
        width: calc(100% - 40px);
    }
}
/* mobile_screen_responsive_style_end */
